$primary: #F1F1E6;
$primary-dark: #111;
$primary-background: rgb(136, 125, 207);
$primary-h2: #1f3549;
$primary-h2-dark: #1f1a1c;
$icon-primary: #fff;
$icon-secondary: #887dcf;
$icon-dark: #262b4f;
$icon-color: #472b72;
$hightlight: white;